/*CSSjardin.css*/
p.a {
margin: 5px auto;
width: 60%;
padding: 5px;
/*border: 4px solid rgba(246, 116, 181, 0.4);*/
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(180, 108, 120)  ;
}
p.b {
font-style: italic;
font-variant: small-caps;
font-size: 45px;
font-family: "Poppins",Arial, sans-serif;
font-weight: bold;
color: #436850;
background-color: #f6d1d1;
  width: 1700px;
  height: 70px;
  margin: -8px;
  margin-right: -10px;
  text-align: center;
}
hr {
border-top : 12px solid #a2e2b17d;
margin-left: -8px;
margin-right: -80px;
width: 1700px;
}
.button {
  background-color: #a2e2b1;
  border: 3px solid #ba981d;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: cell ;
  border-radius: 16px;
}
.buttona:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.button2 {
  background-color: #a2e2b1;
  border: 3px solid #ba981d;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: cell ;
  border-radius: 16px;
}
.button3 {
  background-color: #a2e2b1;
  border: 3px solid #ba981d;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: cell ;
  border-radius: 16px;
}
.button4 {
  background-color: #a2e2b1;
  border: 3px solid #ba981d;
  color: rgb(255, 255, 255);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: cell ;
  border-radius: 16px;
}
.button5 {
  background-color: #a2e2b1;
  border: 3px solid #ba981d;
  color: rgb(249, 245, 245);
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: cell ;
  border-radius: 16px;
}
a{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_haut{
  background-color: #f6d1d1;
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 32px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.button_acceuil {border: 3px solid #ffffff;
text-align:left
}
.button_acceuil:hover {
  background-color: #ffffff;
  color: #f6d1d1;
}
.button_p2 {border: 3px solid #ffffff;
text-align: center;
}
.button_p2:hover {
  background-color: #ffffff;
  color: #f6d1d1;
}
.button_p3 {border: 3px solid #ffffff;
text-align: center;
}
.button_p3:hover {
  background-color: #ffffff;
  color: #f6d1d1;
}
